<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title><%=title %></title>
    <link type="text/css" href="./style.css" rel="stylesheet" />
    <link rel="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymos" />
</head>

<body>
    <header>
        <h1 class="display-4"><%=title %></h1>
    </header>
    <div role="main">
        <p><%=content %></p>
    </div>
</body>

</html>
